@import "tailwindcss";

@theme inline {
  --font-montserrat: var(--font-montserrat);
}
@keyframes vertical {
  0% { transform: translateY(0%); }
  33% { transform: translateY(0%); }

  40% { transform: translateY(-100%); }
  66% { transform: translateY(-100%); }

  70% { transform: translateY(-200%); }
  100% { transform: translateY(0%); }
}

.animate-vertical {
  animation: vertical 6s infinite ease-in-out;
}